.film-card {
  width: 250px;
  height: 445px;
  margin: 10px 20px;
  border: 1px solid #cfcaca;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #cfcaca;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.image img {
  width: 100%;
}

.film-card h3 {
  margin: 4px 0px;
}

.film-card p {
  margin: 2px 0px;
}
