.film-card {
  width: 250px;
  height: 460px;
  margin: 10px 20px;
  border: 1px solid #cfcaca;
  border-radius: 3px;
  box-shadow: 1px 1px 5px #cfcaca;
  text-align: center;
  cursor: pointer;
  padding: 10px;
}

.image img {
  width: 100%;
  height: 350px;
}

.title {
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  margin: 2px 0px;
}

.film-card p {
  margin: 1px 0px;
}

.film-card:hover {
  border: 1px solid #646464;
  box-shadow: 1px 1px 5px #666666;
}
