:host {
  display: block;
  min-height: 67vh;
}

.film-list {
  width: 85%;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  justify-items: center;
  gap: 15px
}

#filmModal span {
  font-weight: bold;
}

#filmModal p {
  margin: 0;
}
