<div class="film-list">
  <app-card *ngFor="let film of films.results; index as i" [film]="film" [numero]="i" (showModal)="showModal($event)"></app-card>
</div>

<!-- The Modal -->
<div class="modal" id="filmModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Detalle Película</h4>
        <button type="button" class="btn-close" (click)="closeModal()" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <span>Título:</span>
        <p>{{dataFilm.title}}</p>
        <span>Personajes:</span>
        <p *ngFor="let charac of characters; index as i">{{i+1}}. {{charac.name}}</p>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="closeModal()" data-bs-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
